@charset "UTF-8";
*{
	border: none;
	margin: 0px;
	padding: 0px;
	text-decoration:none;
	list-style:none;
}
body {
	background:url(../anh/anh.jpg) no-repeat;
	background-attachment:fixed;
	background-size:100%;
}
@font-face {
    font-family:helvertica;
    src:url(../fonts/Campton-BoldDEMO.otf);
}
div{
	font-family: Campton;
}
#body{
	max-width: 100%;
	height: auto;
	font-size:16px;
	text-decoration: none;
}
#menu{
	width: 100%;
	height:70px;
	background-color:Rgba(255,255,255,0.4);
	
}
#menu1{
	margin:auto;
	margin-left: 10px;
	line-height:50px;
}
#menu1 ul{
	float:left;
	list-style: none;
}
#menu1 ul li{
	float:left;
	padding-right:40px;
	padding-left: 30px;
	font-size:30px;
}
#menu1 ul li a{
	text-decoration: none;
	color: #000;
	line-height: 70px;
}
#menu1 ul li a:hover{
	color: #08A095;
}
#menu2{
	margin-right: 5px;
	line-height:50px;
}
#menu2 ul{
	float:right;
	color: #CCC;
	list-style: none;
	float:right;
/*	width:500px;*/
	display:block;
	/*z-index:3;*/
}
#menu2 ul li a{
	float:left;
	color: #444;
	display: block;
	/*background: #fff;
	background: rgba(255,255,255,0.9);*/
	line-height: 70px;
	/*border:1px solid #FFF;*/
	/*z-index:4;*/
/*	padding:0px 20px;*/
	text-transform: uppercase;
	/*box-shadow: 1px 1px 2px rgba(0,0,0,0.2);*/
	font-size: 20px;
	height:100px;
}
#menu2 ul li a:hover {
	color:#08A095
}
#banner {
	list-style:none;
	margin: 70px 0px 100px 0px;
}
#banner ul li h1{
	font-family:zapfino;
	font-size:150px;
	color: #FFF;
}
#banner ul li{
	font-size:30px;
	color: #ccc;

}
@font-face{
	font-family:zapfino;
	src:url(../font/44-6234-ZapfinoExtraLTPro.otf);}
